*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:wght@400;500;600&display=swap');



header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    background-image: linear-gradient( rgba(255, 255, 255, 0.797), rgba(128, 128, 128, 0)), url("./img/di-maitland-lLDFfJ4caAU-unsplash.jpg");
    background-position: center;
    background-size: 100%;
   
}


nav{
    width: 100%;
    font-family: 'Montserrat';
    height: 100px;
    
}

nav #logo{
    font-family: 'Freehand';
    margin-left: 1em;
}

.notiB { position:absolute; 
     top: -5px;
      right:2px; 
      width: 18px; 
      height: 18px; 
      padding:3px; 
      border-radius: 50%; 
      background-color:red;
      color:white; 
      font-weight:bold; 
      font-size:0.60em;   
      box-shadow:1px 1px 1px gray; }

#noti { position:relative;  }

.s input{
    margin-left: 10px;
    width: 350px;
}
.s input:hover{
    border: 1px solid black;
    box-shadow: no;
}
.info{
    position: absolute;
    top: 30%;
    left: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
   align-items: flex-end;
    justify-content: space-around;
    color: rgb(87, 87, 87);
    font-family: 'Montserrat';
}

.info h1{
    font-size: 4em;
    font-weight: bold;
}

.info p{
    text-align: center;
}


#ProductsTitle{
    margin-top: 5em;
    text-align: center;
    font-family: 'Montserrat';
}

.Cards-container{
    height: 280vh;
}
.cards{
    width: 90%;
    height: 800px;
    margin: 4em auto 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.c{
    height: 520px;
    width: 250px;
    margin-top:4em; 
  position: relative;
}

.c:hover{
  border: 1px solid rgb(205, 205, 205);
   border-radius: 1% ;
    cursor: pointer;
  
}

.c{
   position: relative; 
}


.cc h5{
    margin-bottom: 2em;
}
.price{
    position: absolute;
    top: 80%;
    left: 40%;
}




 .card-button{
    width: 60%;
    position:absolute;
    right: 20%;
    top: 85%;

}

.card-open{
    width: 80%;
    height: 100vh;
    margin: auto;
   
}

.card-open img{
    width: 300px;
    height: 350px;
}
.card-open .desc{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3em ;
}
.price{
    margin-top: 3em;
}
.b{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 70vh;
    
}

#count{
    display: flex;
    height: 45px;
}
#count p{
    width: 50px;
    text-align: center;
   padding-top: 10px ;
}

#contador{
position: absolute;
left: 40%;
top: 300px;
}

.goCart{
    position: absolute;
    top: 60%;
    right:41%
}

.cart{
    height: 100vh;
}

.cartDetail{
    height: 200px;
    width: 80%;
}

.cartDetail img{
height: 70%;
}

.generalcontainer {
    width: 90%;
    margin: auto;
}

.totalInfo{
    height: 50vh;
}

footer{
    height: 60vh;
    padding: 40px 30px;
    width: 100%;
    background-color: gray;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.l{
    width: 100%;
    height: 90%;
    justify-content: space-around;
   

}
.footer{
    font-family: 'Montserrat';
    width: 28%;
    height: 100%;
    
}
.footer li{
    list-style: none;
    margin-top: 10px;
    text-align: left;
}
.footer h4{
    text-transform: uppercase;
    
}

.Mp{
    width: 100%;
    height: 50px;

}